@media screen and (max-width: 915px) {
  .background {
    left: 6px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    width: 94.25vw;
    margin: 0 auto 0;
  }

  main {
    width: 90vw;
    margin: 0 auto 0;
  }
}

@media screen and (max-width: 640px) {
  .task {
    justify-content: flex-end;

    span {
      flex: 1 0 100%;
    }

    &__btn-important,
    &__btn-remove {
      align-self: flex-end;
      margin-top: 5px;
      top: 0px;
    }
  }
}

@media screen and (max-width: 480px) {
  .background {
    top: 282px;
  }

  .header {
    flex-direction: column;

    &__search {
      padding: 0 20px 0 20px;

      input {
        width: 94.25vw;
      }
    }
  }
}
