body {
  position: relative;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  color: $text-color;
}

.background {
  position: absolute;
  z-index: -1;
  top: 218px;
  right: 6px;
  max-width: 903px;
  width: 100vw;
  height: 735px;
  background: url(../images/design/background.jpg) no-repeat;
  background-size: contain;
}

.header {
  max-width: 777px;
  padding: 0 0 31px 0;
  margin: 0 23px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    flex: 0 1 auto;
    margin-top: 20px;

    &:focus-visible {
      outline: 2px solid rgba(47, 128, 237, 0.5);
    }
  }

  &__search {
    flex: 1 0 auto;
    margin-top: 20px;
    padding: 0 0 0 20px;

    input {
      width: 100%;
      height: 40px;
      padding: 9px 9px 9px 41px;
      background: url(../images/icons/search.svg) no-repeat #f6f6f6 left 14px top 13px;
      border: 1px solid #e2e2e2;
      box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      font-family: inherit;
      font-size: inherit;
      font-style: inherit;
      font-weight: inherit;
      line-height: inherit;
      color: $black;

      &:hover,
      &:focus-visible {
        border: 1px solid rgba(47, 128, 237, 0.5);
        box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1), 0 0 1px 2px rgba(47, 128, 237, 0.3);
      }

      &::placeholder {
        font-weight: 500;
        opacity: 0.3;
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  min-height: 925px;
  max-width: 760px;
  margin: 0 40px 0;
}

.tabs__wrapper {
  width: 100%;
  max-width: 760px;
  height: 50px;
  display: flex;
  border-top: 1px solid #e2e2e2;
}

.tab {
  width: 175px;
  height: 50px;
  line-height: 30px;
  padding-top: 20px;
  text-align: center;
  font-weight: 900;
  color: rgba(83, 86, 90, 0.5);
  cursor: pointer;
  outline: none;

  &--active {
    border-top: 4px solid #2f80ed;
    padding-top: 16px;
    color: rgba(83, 86, 90, 1);
  }

  &:hover {
    color: rgba(83, 86, 90, 0.75);
  }

  &:focus-visible {
    background-color: rgba(47, 128, 237, 0.1);
    outline: 1px solid rgba(47, 128, 237, 0.5);
  }
}

.add-task {
  min-height: 37px;

  &__wrapper {
    width: 100%;
    max-width: 760px;
    display: flex;
    flex-direction: column;
    margin: 18px 0 23px 0;
  }

  label {
    font-size: 12px;
    line-height: 16px;
    color: #706e6b;
    margin-bottom: 3px;
  }

  textarea {
    height: 90px;
    margin-bottom: 11px;
    padding: 15px 11px 12px 22px;
    border: 1px solid #dddbda;
    border-radius: 4px;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: $text-color;

    &:hover,
    &:focus-visible {
      border: 1px solid rgba(47, 128, 237, 0.5);
      box-shadow: 0 0 1px 2px rgba(47, 128, 237, 0.3);
    }
  }
}

#tasks {
  width: 100%;
  max-width: 760px;
}

.task {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-height: 109px;
  padding: 16px 12px 13px 23px;
  margin-bottom: 17px;
  border-radius: 4px;
  border: 1px solid $white;
  background: $white;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  outline: none;
  word-wrap: break-word;
  animation: shift-right-100 0.5s ease;

  &--active {
    text-decoration-line: none;
  }

  &--done {
    text-decoration-line: line-through;
  }

  &--important {
    font-weight: bold;
    text-indent: 20px;

    span::before {
      content: url(data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2720%27%20height%3D%2719%27%20viewBox%3D%270%200%2020%2019%27%20fill%3D%27none%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20d%3D%27M9.98438%2013.4062L13.7344%2015.6562L12.75%2011.3906L16.0781%208.48438L11.6719%208.10938L9.98438%204.07812L8.29688%208.10938L3.89062%208.48438L7.21875%2011.3906L6.23438%2015.6562L9.98438%2013.4062ZM19.9688%207.21875L14.5312%2011.9531L16.1719%2018.9844L9.98438%2015.2344L3.79688%2018.9844L5.4375%2011.9531L0%207.21875L7.17188%206.60938L9.98438%200L12.7969%206.60938L19.9688%207.21875Z%27%20fill%3D%27%234F4F4F%27%2F%3E%3C%2Fsvg%3E);
      position: absolute;
      top: 14px;
      left: 0;
    }
  }

  &--delete {
    animation: shift-left-100 0.5s ease !important;
  }

  span {
    flex: 1 0;
  }

  &:hover,
  &:focus-within {
    border: 1px solid rgba(47, 128, 237, 0.5);
    box-shadow: 0px 6px 20px rgba(47, 128, 237, 0.75);
    transition: box-shadow 0.45s 0.05s ease-in-out;
  }
}

.display--none {
  display: none !important;
}
